.portfolio-page {
    height: 800px;
    /* height: 637px; */
    margin: 0;
  }
  
.p-bg {
    position: relative;
    background: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  
  .p-text-container {
    position: relative;
    top: 10%;
    margin: auto;
    display: block;
    height: 60%;
    width: 80%;
    /* border: solid 1px black; */
    background: none;
    text-align: center;
    font-family: Courier New;
    color: black;
  };
  
  /* .p-text {
    position: relative;
    color: blue;
    margin-bottom: 5%;
    padding: 5%;
    background-color: blueviolet
    
  } */
  
  .p-text2 {
    position: absolute;
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    align-content: center;
    color: black;
    border: 1px solid black;
    width: 100%;
  }
  
  .Card {
    height: 100%;
    font-family: Garamond;
    font-size: 1.25rem;
    color: black;    
  }
  

  .Card:hover {
      background-color: lightgray;
  }

  /* float shadow */

  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  
  /* float shadow */

.p-text {
  color: black;
  margin-top: 5%;
  text-align: center;
  
}

.cards {
  margin-top: 3%;
  
}

@media (min-width: 0px) and (max-width: 575px ) {
  

  .mycard2 {
    margin-top: 25%;
  }

  .mycard1 {
    display: none;
  }

  .mycard3 {
    display: none;
  }

}

@media (min-width: 0px) and (max-width: 575px ) {
  
  
  .mycard2 {
    margin-top: 30%;
  }

  .mycard1 {
    display: none;
  }

  .mycard3 {
    display: none;
  }

}