.about-page {
    height: 800px;
  /* height: 637px; */
    margin: 0;
  }
  
.ab-bg {
    position: relative;
    background: white;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textytext {
    padding: 1.5%;
  }
  
  
  .ab-text-container {
    position: relative;
    top: 6%;
    margin: auto;
    display: block;
    height: 80%;
    width: 97%;
   
    background: white;
    text-align: left;
    font-family: Garamond;
  }
  
  .ab-text {
    position: relative;
    color: black;
    top: 5%;
    padding: 10px;
    margin-left: 2.5%;
    font-size: 3rem;
  }

  .pic {
    margin-top: 5%;
    height: 350px;
    width: 300px;
    float: left;
    padding: 10px;
    margin-left: 2%;
    
  }

  

  .ab-text2 {
    display: flex;
    margin-top: 5%;
    color: black;
    padding: 3%;
    font-size: 120%;
    
  }
  
  .line {
    
    font-style: italic;
  }
  @media (min-width: 400px) and (max-width: 600px ) {
    .ab-text-container {
      position: relative;
      top: 6%;
      margin: auto;
      display: block;
      height: 80%;
      width: 97%;
     
      background: white;
      text-align: left;
      font-family: Garamond;
    }
    
    .ab-text {
      position: relative;
      color: black;
      top: 5%;
      padding: 10px;
      margin-left: 2.5%;
      font-size: 3rem;
    }
  
    .pic {
      margin-top: 5%;
      height: 20%;
      width: 20%;
      /* float: left; */
      padding: 10px;
      margin-left: 2%;
      
    }
  
    
  
    .ab-text2 {
      display: flex;
      margin-top: 5%;
      color: black;
      padding: 3%;
      font-size: 135%;
      
    }
    
}
 
    
  @media (min-width: 0px) and (max-width: 400px ) {
    .ab-text-container {
      position: relative;
      top: 6%;
      margin: auto;
      display: block;
      height: 80%;
      width: 90%;
     
      background: white;
      text-align: left;
      font-family: Garamond;
    }
    
    .ab-text {
      position: relative;
      color: black;
      top: 5%;
      padding: 10px;
      margin-left: 2.5%;
      font-size: 3rem;
    }
  
    .pic {
      margin-top: 5%;
      height: 43%;
      width: 97%;
      /* float: left; */
      padding: 10px;
      margin-left: 2%;
      
    }
  
    .ab-text2 {
      display: flex;
      margin-top: 5%;
      color: black;
      padding: 3%;
      font-size: 100%;
      
    }

}

