.home-page {
    height:800px;
    /* height: 637px; */
    /* height: 768px; */
    margin: 0;
  }

.bg {
    position: relative;
    background-image: url(https://media.giphy.com/media/hL8a3mIQK8Ehy/giphy.gif);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .text-container {
    position: relative;
    top: 30%;
    margin: auto;
    display: block;
    height: 200px;
    width:500px;
    border: solid 1px white;
    background: none;
    text-align: center;
    font-family: Courier New;
  
  }
  
  .text {
    position: relative;
    /* color: white; */
    top: 10%;
    
  }
  
  .text2 {
    margin-top: 8%;
  
  }
  
  .quote {
    position: relative;
    font-family: Courier New;
    color: white;
    text-align: center;
    top:30%;
    padding: 5%;
  }


  @media (min-width: 415px) and (max-width: 600px ) {
    .text-container {
      position: relative;
      top: 30%;
      margin: auto;
      display: block;
      height: 200px;
      width:300px;
      border: solid 1px transparent;
      background: none;
      text-align: center;
      font-family: Courier New;
    
    }

    .text {
      padding: 5%;
      
    }
    
    .text2 {
      font-size: 1rem;

    }

    .quote {
      display: none;
    }
}

@media (min-width: 0px) and (max-width: 415px ) {
  .home-page {
    height:700px;
    /* height: 637px; */
    /* height: 768px; */
    margin: 0;
  }
  
  .text-container {
    position: relative;
    top: 30%;
    margin: auto;
    display: block;
    height: 200px;
    width:300px;
    border: solid 1px transparent;
    background: none;
    text-align: center;
    font-family: Courier New;
  
  }

  .text {
    padding: 5%;
    
  }
  
  .text2 {
    font-size: 1rem;

  }

  .quote {
    display: none;
  }
}