.contact-page {
    height: 800px;
    /* height: 637px; */
    margin: 0;
  }
  
.c-bg {
    position: relative;
    background-image: url(https://media2.giphy.com/media/3oz8xVUm3mOvsSRqUg/giphy.gif);
    background-color: #94C595 ;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  /* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
  
  .c-text-container {
    position: relative;
    top: 6.5%;
    margin: auto;
    display: block;
    height: 485px;
    width:500px;
    border: solid 1px white;
    background: none;
    text-align: center;
    font-family: Courier New;
    background: rgba(191, 188, 188, 0.289);
    padding: 2%;
  }
  
  .c-text {
    position: relative;
    color: white;
    top: 2%;
  }
  
  .c-text2 {
    margin-top: 1%;
    color: white;
  }

  .Button {
    margin-bottom: 5%;
    margin-top: 2%;
  }

  .Message {
    margin-top: 1%;
    font-size: 75%;
  }
  
  .label {
    text-align: left;
  }
  .icons {
    margin-top: 10%;
   
  }

  .item {
    padding: 5%;
    margin-left:3%;
    
  }

  .footer {
    color: white;
    
    text-align: center;
    margin-top: 18%;
    width: 100%;
    
  }

  @media (min-width: 500px) {
  /* Grow */
        .hvr-grow {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
        }
        .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
  }

  @media (min-width: 400px) and (max-width: 600px ) {
    .c-text-container {
      position: relative;
      top: 10%;
      margin: auto;
      display: block;
      height: 450px;
      width:300px;
      border: solid 1px transparent;
      background: none;
      text-align: center;
      font-family: Courier New;
      background: none;
      padding: 2%;
    }
}
    
  @media (min-width: 0px) and (max-width: 400px ) {
    .c-text-container {
      position: relative;
      top: 10%;
      margin: auto;
      display: block;
      height: 300px;
      width:250px;
      border: solid 1px transparent;
      background: none;
      text-align: center;
      font-family: Courier New;
      background: none;
      padding: 1%;
    }
    .Message {
      margin-top: 3%;
    }
    
}

@media (min-width: 2000px)  {
  .c-text-container {
    position: relative;
    top: 10%;
    margin: auto;
    display: block;
    height: 450px;
    width:500px;
    border: solid 1px transparent;
    background: none;
    text-align: center;
    font-family: Courier New;
    background: none;
    padding: 2%;
  }
  .Message {
    margin-top: 3%;
  }
  
}
.foot1 {
  font-size: 11px;
  
}